<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	<resultMap type="allTable" id="allTableResultSet">
		<result column="member" property="member"/>
		<result column="supporters" property="supporters"/>
		<result column="createSetting" property="createSetting"/>
		<result column="errorBoard" property="errorBoard"/>
		<result column="bulletinBoard" property="bulletinBoard"/>
		<result column="qnaBoard" property="qnaBoard"/>
	</resultMap>
	
	<select id="allCount" resultMap="allTableResultSet">
	<!-- error -->
		SELECT
			(SELECT COUNT(*) FROM MEMBER WHERE STATUS = 'Y') member,
			(SELECT COUNT(*) FROM SUPPORTERS S JOIN MEMBER M ON (S.REF_UNO = M.USER_NO) WHERE M.STATUS = 'Y') supporters,
			(SELECT COUNT(*) FROM CREATE_SETTING WHERE STATUS = 'W') createSetting,
			(SELECT COUNT(*) FROM ERROR_BOARD E JOIN BOARD B ON(E.REF_BNO = B.BOARD_NO) WHERE E.SOLVED = 'W' AND B.STATUS = 'Y') errorBoard,
			(SELECT COUNT(*) FROM BOARD WHERE STATUS = 'Y' AND CATEGORY = 'B') bulletinBoard,
			(SELECT COUNT(*) FROM BOARD WHERE STATUS = 'Y' AND CATEGORY = 'Q') qnaBoard
		FROM DUAL;
	</select>
</mapper>