<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="errorBoardMapper">
	
	<resultMap type="errorBoard" id="errorBoardResultSet">
		<result column="REF_BNO" property="refBno"/>
		<result column="REF_SNO" property="refSno"/>
		<result column="SOLVED" property="solved"/>
		<result column="MODIFIED_CODE" property="modifiedCode"/>
		<result column="MODIFIED_INFO" property="modifiedInfo"/>
	</resultMap>

	<resultMap type="errorSet" id="errorSetResultSet">
		<collection property="board" resultMap="boardMapper.boardResultSet"/>
		<collection property="errorBoard" resultMap="errorBoardResultSet"/>
		<collection property="createSetting" resultMap="adminMapper.createSettingResultSet"/>
	</resultMap>
	
	<!-- 게시판 전체 목록 조회 -->
	<select id="selectList" resultMap="errorSetResultSet">
		SELECT BOARD_NO,
		       SETTING_TITLE,
		       TITLE,
		       USER_ID,
		       SOLVED,
		       B.CREATE_DATE,
		       COUNT
		FROM BOARD B
		JOIN MEMBER M ON (B.BOARD_WRITER = M.USER_NO)
		JOIN ERROR_BOARD E ON (B.BOARD_NO = E.REF_BNO)
		JOIN CREATE_SETTING C ON(E.REF_SNO = C.SETTING_NO)
		WHERE B.STATUS = 'Y'
		AND B.CATEGORY = 'E'
		ORDER BY BOARD_NO DESC
	</select>
	
</mapper>