<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qnaBoardMapper">
	
	

	<resultMap type="board" id="qnaBoardResultSet">
    <id property="boardNo" column="BOARD_NO"/>
    <result property="category" column="CATEGORY"/>
    <result property="boardWriter" column="NICKNAME"/>
    <result property="title" column="TITLE"/>
    <result column="content" property="content"/>
    <result property="createDate" column="CREATE_DATE"/>
    <result property="count" column="COUNT"/>
    <result property="liked" column="LIKED"/>
	</resultMap>

	<resultMap type="boardAttachment" id="qnaBoardAttachmentResultSet">
	<result column="FILE_NO" property="fileNo"/>
	<result column="REF_BNO" property="refBno"/>
	<result column="ORIGIN_NAME" property="originName"/>
	<result column="CHANGE_NAME" property="changeName"/>
	<result column="FILE_PATH" property="filePath"/>
	<result column="UPLOAD_DATE" property="uploadDate"/>
	<result column="FILE_LEVEL" property="fileLevel"/>
	<result column="STATUS" property="status"/>
	</resultMap>
	
	
	<resultMap type="reply" id="qnaReplyResultSet">
	<result column="REPLY_NO" property="replyNo"/>
	<result column="REF_BNO" property="refBno"/>
	<result column="REPLY_CONTENT" property="replyContent"/>
	<result column="NICKNAME" property="replyWriter"/> <!-- 닉네임으로 조회 -->
	<result column="CREATE_DATE" property="createDate"/>
	<result column="STATUS" property="status"/>
	</resultMap>
	
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 'Q'
	</select>
	
	<select id="selectList" resultMap="qnaBoardResultSet">
		SELECT BOARD_NO,
			   TITLE,
			   NICKNAME,
			   TO_CHAR(B.CREATE_DATE,'YYYY-MM-DD')"CREATE_DATE",
			   COUNT,
			   LIKED
		FROM BOARD B
		JOIN MEMBER ON(USER_NO = BOARD_WRITER)
		WHERE B.STATUS = 'Y'
		AND CATEGORY = 'Q'
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectBoard" resultMap="qnaBoardResultSet">
		SELECT BOARD_NO,
			   TITLE,
			   NICKNAME,
			   CONTENT,
			   TO_CHAR(B.CREATE_DATE,'YYYY-MM-DD')"CREATE_DATE"
		FROM BOARD B
		JOIN MEMBER ON(USER_NO = BOARD_WRITER)
		WHERE BOARD_NO = #{boardNo}
		AND CATEGORY = 'Q'
		AND B.STATUS = 'Y' 
	</select>
	
	<update id="increaseCount">
		UPDATE BOARD
		SET COUNT = COUNT + 1
		WHERE STATUS = 'Y'
		AND BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectAttachment" resultMap="qnaBoardAttachmentResultSet">
		SELECT FILE_NO,
			   ORIGIN_NAME,
			   FILE_PATH
		FROM BOARD_ATTACHMENT
		WHERE REF_BNO = #{boardNo}
		AND STATUS = 'Y'
	</select>
	
	<select id="selectBoardCount" resultType="_int" parameterType="java.util.HashMap">
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER M ON (USER_NO=BOARD_WRITER)
		WHERE B.CATEGORY = 'Q'
		AND B.STATUS = 'Y'
		<if test="#{searchQna} eq 'writer'">
			AND M.NICKNAME LIKE '%' || #{keyword} || '%'
		</if>
		<if test="#{searchQna} eq 'title'">
			AND TITLE LIKE '%' || #{keyword} || '%'
		</if>
		<if test="#{searchQna} eq 'content'">
		 	AND CONTENT LIKE '%' || #{keyword} || '%'	
		</if>
	</select>
	
	<select id="selectBoardList" resultMap="qnaBoardResultSet" parameterType="java.util.HashMap">
		SELECT BOARD_NO,
			   TITLE,
			   NICKNAME,
			   COUNT,
			   B.CREATE_DATE
		FROM BOARD B
		JOIN MEMBER M ON(USER_NO = BOARD_WRITER)
		WHERE B.CATEGORY = 'Q'
		AND B.STATUS = 'Y'
		<if test="#{searchQna} eq 'writer'">
	        AND M.NICKNAME LIKE '%' || #{keyword} || '%'		
		</if>
		<if test="#{searchQna} eq 'title'">
			AND TITLE LIKE '%' || #{keyword} || '%'
		</if>
		<if test="#{searchQna} eq 'content'">
		 	AND CONTENT LIKE '%' || #{keyword} || '%'
		
		</if>
		ORDER BY B.CREATE_DATE DESC			   
	</select>
	
	<select id="selectReply" resultMap="qnaReplyResultSet">
		SELECT REPLY_NO,
			   REPLY_CONTENT,
			   REPLY_WRITER,
			   TO_CHAR(CREATE_DATE,'YYYY-MM-DD')"CREATE_DATE"
		FROM REPLY
		WHERE REF_BNO = #{boardNo}
		AND STATUS = 'Y'
		ORDER BY REPLY_NO DESC
	</select>
	
	<insert id="insertReply">
		INSERT INTO REPLY(REPLY_NO,
						REPLY_CONTENT,
						REF_BNO,
						REPLY_WRITER)
		VALUES(SEQ_RNO.NEXTVAL,
			   #{replyContent},
			   #{refBno},
			   #{replyWriter})
	</insert>
	
	<insert id="insertBoard">
		INSERT INTO BOARD(BOARD_NO,
						  CATEGORY,
						  NICKNAME,
						  TITLE,
						  CONTENT)
		VALUES(SEQ_BNO.NEXTVAL,
			   'Q',
			   #{boardWriter},
			   #{title},
			   #{content})
	</insert>
	
	<insert id="insertBoardFile">
		INSERT INTO BOARD_ATTACHMENT(FILE_NO,
									 REF_BNO,
									 ORIGIN_NAME,
									 CHANGE_NAME,
									 FILE_PATH)
		VALUES(SEQ_FNO.NEXTVAL,
			   SEQ_BNO.CURRVAL,
			   #{originName},
			   #{changeName},
			   #{filePath})
	</insert>
	
	<insert id="insertNotice">
		INSERT INTO BOARD(BOARD_NO,
						  CATEGORY,
						  NICKNAME,
						  TITLE,
						  CONTENT,
						  NOTICE)
		VALUES(SEQ_BNO.NEXTVAL,
			   'Q',
			   #{boardWriter},
			   #{title},
			   #{content},
			   'Y')
	</insert>
</mapper>