<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="settingMapper">

	<resultMap type="setting" id="settingResultSet">
		<result column="SETTING_NO" property="settingNo"/>
		<result column="REF_UNO" property="refUno"/>
		<result column="SETTING_TITLE" property="settingTitle"/>
		<result column="SETTING_VERSION" property="settingVersion"/>
		<result column="SORT_DESCRIPTION" property="sortDescription"/>
		<result column="SETTING_INFO" property="settingInfo"/>
		<result column="SETTING_CODE" property="settingCode"/>
		<result column="INPUT" property="input"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	
	<!-- Setting리스트 조회 -->
	<select id="selectSettingList" resultMap="settingResultSet">
		SELECT distinct setting_title, setting_no, ref_uno, setting_version, sort_description, setting_info, setting_code, input, status, create_date
		FROM CREATE_SETTING
		WHERE STATUS = 'Y'
		ORDER BY SETTING_TITLE
	</select>
	
	<!-- 해당 Setting 정보 조회 -->
	<select id="selectSetting" resultMap="settingResultSet">
		SELECT * FROM CREATE_SETTING where SETTING_NO = #{settingNo}
	</select>
	
	
	<select id="selectVersionList" resultMap="settingResultSet">
		SELECT SETTING_NO, SETTING_VERSION
		FROM CREATE_SETTING
		WHERE SETTING_TITLE = #{settingTitle}
		ORDER BY CREATE_DATE DESC
	</select>

	<!-- 메인 search -->
	<select id="searchSetting" resultMap="settingResultSet">
		SELECT *
		FROM CREATE_SETTING
		WHERE (SETTING_TITLE LIKE '%'||#{input}||'%' OR SORT_DESCRIPTION LIKE '%'||#{input}||'%')
		AND STATUS = 'Y'
		ORDER BY SETTING_TITLE
	</select>
	<delete id="deletelib">
		DELETE FROM CREATE_SETTING
		WHERE SETTING_NO = #{setting_no}
	</delete>
	
	<!-- 라이브러리 작성 -->
	<insert id="insertSetting">
		INSERT INTO CREATE_SETTING(SETTING_NO, REF_UNO, SETTING_TITLE, SETTING_VERSION,SORT_DESCRIPTION,SETTING_INFO,SETTING_CODE,INPUT<if test="userType == 2">, STATUS</if>)
		VALUES(SEQ_SET.NEXTVAL, #{refUno}, #{settingTitle}, DEFAULT, #{sortDescription}, #{settingInfo}, #{settingCode}, #{input}<if test="userType == 2">, 'Y'</if>)
	</insert>
	
	<!-- 기존버전 찾기 -->
	<select id="selectVersion">
		SELECT SETTING_VERSION
		FROM (SELECT *
			  FROM CREATE_SETTING
			  WHERE SETTING_TITLE = #{settingTitle}
			  ORDER BY CREATE_DATE DESC
		)
	</select>

</mapper>