<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="settingMapper">

	<resultMap type="setting" id="settingResultSet">
		<result column="SETTING_NO" property="settingNo"/>
		<result column="REF_UNO" property="refUno"/>
		<result column="SETTING_TITLE" property="settingTitle"/>
		<result column="SORT_DESCRIPTION" property="sortDescription"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
	</resultMap>
	
	<resultMap type="version" id="versionResultSet">
		<result column="REF_SNO" property="refSno"/>
		<result column="VERSION_NUM" property="versionNum"/>
		<result column="INFO" property="info"/>
		<result column="CODE" property="code"/>
		<result column="INPUT" property="input"/>
		<result column="INPUT_PATH" property="inputPath"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	<!-- Setting리스트 조회 -->
	<select id="selectSettingList" resultMap="settingResultSet">
		SELECT *
		FROM CREATE_SETTING
		WHERE STATUS = 'Y'
	</select>
	
	<!-- 해당 Setting 정보 조회 -->
	<select id="selectSetting" resultMap="settingResultSet">
		SELECT *
		FROM CREATE_SETTING
		WHERE SETTING_NO = #{settingNo}
		AND STATUS = 'Y'
	</select>
	
	<!-- 해당 Setting의 버전리스트 조회 -->
	<select id="selectVersionList" resultMap="versionResultSet">
		SELECT *
		FROM VERSION
		WHERE STATUS = 'Y'
		AND REF_SNO = #{settingNo}
	</select>
	
</mapper>