<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>  
  	
  		<!-- Admin Vo -->
  	<typeAliases>
  		<typeAlias type="com.hoju.koala.admin.model.vo.Supporters" alias="supporters"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.AllCount" alias="allTable"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.BlockIp" alias="blockIp"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.CreateSetting" alias="createSetting"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.MemberSearch" alias="ms"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.IssuesAndError" alias="issuesAndError"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.SqlCloud" alias="sqlCloud"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.ModifyTeam" alias="modifyTeam"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.SqlInvite" alias="sqlInvite"/>
  		<typeAlias type="com.hoju.koala.admin.model.vo.SettingDetail" alias="settingDetail"/>
  		
  		<typeAlias type="com.hoju.koala.member.model.vo.Member" alias="member"/>  
  		<typeAlias type="com.hoju.koala.member.model.vo.Profile" alias="profile"/>
  		<typeAlias type="com.hoju.koala.member.model.vo.Attendance" alias="attendance"/>
  		
  		
  		<typeAlias type="com.hoju.koala.setting.model.vo.Setting" alias="setting"/>
  		
  		<typeAlias type="com.hoju.koala.board.model.vo.Board" alias="board"/>
  		<typeAlias type="com.hoju.koala.board.model.vo.BulletinBoard" alias="bulletinBoard"/>
  		<typeAlias type="com.hoju.koala.board.model.vo.BoardAttachment" alias="boardAttachment"/>
  		<typeAlias type="com.hoju.koala.board.model.vo.Liked" alias="liked"/>
  		<typeAlias type="com.hoju.koala.board.model.vo.Reply" alias="reply"/>		
  		<typeAlias type="com.hoju.koala.board.model.vo.ErrorBoard" alias="errorBoard"/>
  		<typeAlias type="com.hoju.koala.board.model.vo.ErrorSet" alias="errorSet"/>
  		<typeAlias type="com.hoju.koala.board.model.vo.QnASelect" alias="qnaSelect"/>
  	</typeAliases>
  
	<typeHandlers>
        <typeHandler handler="com.hoju.koala.board.handler.LongHandler" javaType="String" jdbcType="LONGVARCHAR"/>
    </typeHandlers>
  
</configuration>
  